* {
}

body {
  display: flex;
  flex-direction: column;
}

header, nav, aside, main, footer {
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

header {
  background: darkblue;
}

nav {
  background: steelblue;
}

aside {
  background: lightblue;
  width: 20%;
}

main {
  background: purple;
  width: 80%;
}

footer {
  background: aqua;
}


.wrapper {
  display: flex;
}


@media (max-width: 320px) {
  .wrapper {
    flex-direction: column;
  }

  main, aside {
    width: 100%;
  }
}
